@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import "./header.css";
@import "./table.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
/*aside section*/

h5 {
  color: #252c32;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
}

Main {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.product-container {
  /* background-color: bisque; */
  display: flex;
  gap: 30px;
}

.aside-section {
  max-width: 280px;
  background-color: #ffffff;
  margin-top: 1.5rem;
  margin-left: 5rem;
}

.input-fields {
  display: flex;
  gap: 10px;
}

.input-fields > input {
  width: 120px;
  padding: 0.5rem 2rem 0.5rem 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid #dde2ef;
}

/* Product section styling */
.product-section {
  max-width: 932px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
  margin-top: 1.5rem;
}

.card {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.card h3 {
  color: #252c32;
  font-family: "inter", sans-serif;
  font-weight: 400;
}
.card h4 {
  color: #252c32;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.card .icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
}

.ratings {
  display: flex;
}

.ratings p {
  margin-left: 10px;
}

@media (max-width: 493px) {
  .aside-section {
    display: none;
  }
  .input-fields > input {
    width: 100%;
    padding: 0.5rem 0;
  }
}

.aside-forms {
  display: block;
}

.forms {
  margin-top: 1.25rem;
}

.forms label {
  display: block;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .product-section {
    max-width: 768px;
    grid-template-columns: repeat(2, 1fr);
  }

  img {
    width: 100%;
  }
  .card h3,
  h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .product-section {
    grid-template-columns: auto;
  }

  .card {
    padding: 5px;
  }

  .card .icons {
    top: 3px;
    right: 3px;
  }

  .card-icons img {
    height: 5px;
  }
  .card h3,
  h4 {
    font-size: 14px;
  }

  .ratings img {
    width: 10px;
  }

  .ratings p {
    font-size: 10px;
  }
}

.chat-crisp {
  width: 60px;
  height: 60px;
  padding: 19px, 16.35px, 17.75px, 15px;
  border-radius: 30px;
  position: relative;
  top: 43rem;
  right: 30px;
}
