body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

#main {
  max-width: 1216px;
  margin: 0 auto;
}

.headtext {
  display: flex;
  align-items: baseline;
}

.headtext h5 {
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.headtext h6 {
  border-radius: 16px;
  background-color: #f9f5ff;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #6941c6;
}

.toprow {
  display: flex;
}

.row1,
.row2,
.row3 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.row3 img {
  width: 13px;
}

.row1 {
  width: 292px;
}
.row2 {
  width: 120px;
}
.row3 {
  width: 176px;
}
.row4 {
  width: 224px;
}
.row5 {
  width: 288px;
}
.row6 {
  width: 116px;
}
